# Domain-specific environment variables for the API and database configuration
APP_HOST=go-api-clientes-pg
# db configuration
DB_HOST=localhosthost.docker.internal
DB_USER=postgres
DB_PASSWORD=TuclaveSecreta
DB_NAME=clientes_db
DB_PORT=5432

# API Configuration
API_KEY=TuClaveParaLaAPI

# Configuración certificados SSL
SSL_ENABLED=true
SSL_PORT=443
SSL_CERT_PATH=/app/certs/cert.crt
SSL_KEY_PATH=/app/certs/private.key